html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

header {
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 1000;
}

header span {
    color: #0088cc;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #FAFCFF;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    left: 35px;
    top: 35px;
    z-index: 100;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
    width: 179px;
    height: 33px;
}

.nav {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li {
    cursor: pointer;
}

.panel {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 50;
    float: left;
    clear: both;
    width: 430px;
    height: 305px;
    margin: -180px 0 0 0;
    padding: 35px 35px 15px 35px;
    overflow: hidden;
    background: #ffffff;
    opacity: 0.8;
}

.blue {
    color: #0088cc;
}