.DS_Store
.idea
.idea/*
.htaccess
.project
.ruby-version
.ruby-gemset
.settings/

bower_components

#compass stuff
.sass-cache
config/.sass-cache/
config/cubes.*

# ignore hashed styles
#saatchionline/public/styles/*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].css

#grunt stuff
.grunt

node_modules
*.sassc
/bin
log/
_site

