<!DOCTYPE html>
<html ng-app="website">
<head>
    <meta charset="utf-8">
    <title>Front End Web Development, Web Applications | Rick W. Jones</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>-->

    <script src="libs/jquery.min.js"></script>
    <script src="libs/TweenMax.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

</head>



<body id="main" ng-controller="MainCtrl">

    <!--<img bg class="fullBg bg-animation" ng-if="isCurrentPage('home')" src="images/bkgd000.jpg">-->
    <img bg class="fullBg bg-animation" ng-if="isCurrentPage('about')" src="images/bkgd001.jpg">
    <img bg class="fullBg bg-animation" ng-if="isCurrentPage('contact')" src="images/bkgd010.jpg">
    <img bg class="fullBg bg-animation" ng-if="isCurrentPage('portfolio')" src="images/bkgd000.jpg">

    <div id="page" class="panel panel-animation" ng-hide="isInTransit" >
        <div>
            <h1 class="blue">{{page.label}}</h1>
            <h3>{{page.sublabel}}</h3>
            <p ng-bind-html="page.content | unsafe"></p>
            <!--<div ng-if="isCurrentPage('portfolio')">
                &lt;!&ndash;<div ng-include src="'portfolio.html'"></div>&ndash;&gt;

                <script id="portfolio.html" type="text/ng-template"></script>

            </div>-->

        </div>
    </div>

    <div id="subpage" class="panel">

    </div>

    <ul class="nav nav-pills well">
        <!--<li ng-class="{'active':isCurrentPage('home')}"><a ng-click="setCurrentPage('home')">HOME</a></li>-->
        <li ng-class="{'active':isCurrentPage('about')}"><a ng-click="setCurrentPage('about')">ABOUT</a></li>
        <li ng-class="{'active':isCurrentPage('portfolio')}"><a ng-click="setCurrentPage('portfolio')">PORTFOLIO</a></li>
        <li ng-class="{'active':isCurrentPage('contact')}"><a id="link-contact" ng-click="setCurrentPage('contact')">CONTACT</a></li>
    </ul>

    <script src="js/app.js"></script>

</body>
</html>
